.DS_STORE
node_modules
scripts/flow/*/.flowconfig
.flowconfig
*~
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
build/
remote-repo/
coverage/
.module-cache
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
project/app/test/the-files-to-test.generated.js
projectFilesBackup
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo
*.env
*.env.local
*.env.production
*.env.development
*.env.template
*.env.saved
*.prettierrc
*.prettierignore
*.package-lock.json
/project/pnpm-lock.yaml
/project/pnpm-workspace.yaml
/project/public/
/project/prisma/migrations/
/project/prisma/generated/prisma/query_engine-windows.dll.node.*
